[submodule "includes/lib/laxar"]
	path = includes/lib/laxar
	url = https://github.com/LaxarJS/laxar.git
[submodule "includes/lib/laxar_patterns"]
	path = includes/lib/laxar_patterns
	url = https://github.com/LaxarJS/laxar_patterns.git
[submodule "includes/lib/laxar_uikit"]
	path = includes/lib/laxar_uikit
	url = https://github.com/LaxarJS/laxar_uikit.git
